body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#add-button {
	height: 50px;
	width: 150px;
	position: absolute;
	top: 50px;
}

.modal {
	width: 20%;
	max-width: 100%;
	height: 50%;
	max-height: 100%;
	border: 1px solid #333;
	border-radius: 5px;
	position: fixed;
	z-index: 2;
	background-color: #eee;
}

.closed {
	display: none;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
	opacity: 0.5;
}

#exit-btn {
	border: none;
	float: right;
	position: relative;
	top: 2px;
	right: 2px;
	color: black;
}

#exit-btn:hover {
	cursor: pointer;
	color: black;
}
